*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-light: #fff;
  --color-dark: #f4f4f4;
  --color-blue: #0830ff;

  --color-black: #000;
  --color-black-06: rgba(0, 0, 0, 0.6);

  --border: 5px;
  --border-small: 4px;
  --gap-5: 5px;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-dark);
  color: var(--color-black);
}
